[submodule "backend"]
	path = backend
	url = https://github.com/stannisl/projektio-backend.git
	branch = main
[submodule "frontend"]
	path = frontend
	url = https://github.com/stannisl/projektio-frontend.git
	branch = main
